.rotation{
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);  
}
.show{
  opacity: 1!important;
}
.hide{
  opacity: 0!important;
  z-index: 1!important;
}
.to-right{
  right: -50%!important;
}
.to-left{
  left: -50%!important;
}
.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #222222;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
.sliding-right{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 777;
  background-color: #fff;
  -webkit-transition: width 0.4s ease;
  -moz-transition: width 0.4s ease;
  -ms-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
.sliding-right-effect{
  width: 100%;
}
[data-aos="sliding-right-aos"] {
  width: 100%;
  &.aos-animate {
    width: 0;
  }
}
.link-fade-in, .text-fade-in{
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

@keyframes scrollDown {
  0%{
    height: 0;
  }
  100% {
    height: 100px;
  }
}