@import "~bootstrap/scss/bootstrap";
@import "/utilities/colors";
@import "/utilities/animations";

$formular: 'formular';
$formularmedium: 'formularmedium';
$formularbold: 'formularbold';

@font-face {
  font-family: 'formular';
  font-style: normal;
  src: url('fonts/Formular-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'formularmedium';
  font-style: normal;
  src: url('fonts/Formular-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'formularbold';
  src: url('fonts/formular-bold-webfont.woff2') format('woff2'),
  url('fonts/formular-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'coresansg';
  font-style: normal;
  src: url('fonts/CoreSansG-Bold.otf') format("opentype");
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $black;
}

//Main styles
body {
  font-family: $formular;
  font-weight: normal;
  color: $white;
  font-size: 18px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $formular;
  font-weight: normal;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.mr-10{
  margin-right: 10rem;
}

.no-cursor{
  cursor: context-menu;
}

.black-text{
  color: $black;
}

//Navbar styling
.bg-dark{
  background-color: $menu-black!important;
}

.navbar-brand{
  width: 227px;
  height: 100%;
}

.navbar-top{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 10px 30px;
}

.navbar-light .navbar-nav .nav-link{
  color: $white;
  p{
    margin-bottom: 0;
  }
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
  color: $white;
}

.header-part{
  position: relative;
  .navbar{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 30px;
    z-index: 777;
  }
  .header-part-background{
    width: 100%;
    height: 100vh;
    video{
      min-width: 100%;
      min-height: 100%;

      /* Setting width & height to auto prevents the browser from stretching or squishing the video */
      width: auto;
      height: auto;

      /* Center the video */
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transform: scale(1.03) translate(-50%,-50%);
      -ms-transform: scale(1.03) translate(-50%,-50%);
      transform: scale(1.03) translate(-50%,-50%);
      -webkit-transition: opacity .7s,-webkit-transform .7s;
      transition: transform .7s,opacity .7s;
      transition: transform .7s,opacity .7s,-webkit-transform .7s;
    }
    .active-bg{
      -webkit-transform: scale(1) translate(-50%,-50%);
      -ms-transform: scale(1) translate(-50%,-50%);
      transform: scale(1) translate(-50%,-50%);
      opacity: 1;
    }
  }
  .map-navbar{
    z-index: 888;
    .nav-link{
      color: $white!important;
    }
  }
  .main-projects-container{
    position: absolute;
    top: 70px;
    height: calc(100% - 70px);
    .mobile-img{
      display: none;
    }
    .row{
      height: 100%;
      .project-boxes{
        position: relative;
        height: 50%;
        border-style: solid;
        border-width: thin;
        border-color: #ffffff29;
        .info-box{
          height: 100%;
          width: 100%;
          padding: 30px 15px;
          .main-link{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            color: #fff;
          }
          .scroll{
            position: absolute;
            right: 30px;
            width: 4px;
            background-color: $white;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-animation: scrollDown;
            -o-animation: scrollDown;
            animation: scrollDown;
            animation-duration: 2s;
            animation-iteration-count: infinite;
          }
        }
        .info-number{
          width: 100%;
          img{
            margin: 5px 0;
            width: 27%;
          }
          .all-projects-title{
            width: 80%;
          }
          .project-title{
            opacity: 0;
            width: 105px;
            float: right;
            margin-right: 20px;
            position: relative;
          }
        }
        .info-page{
          font-size: 14px;
          width: 100%;
          a{
            position: relative;
            opacity: 0;
            color: $white;
            text-decoration: none;
            &:after{
              content: '';
              background-image: url('../uploads/arrow-right.png');
              background-repeat: no-repeat;
              position: absolute;
              opacity: 0;
              top: 5px;
              right: -20px;
              width: 13px;
              height: 100%;
              -webkit-transition: opacity 0.6s ease-in-out;
              -moz-transition: opacity 0.6s ease-in-out;
              -ms-transition: opacity 0.6s ease-in-out;
              -o-transition: opacity 0.6s ease-in-out;
              transition: opacity 0.6s ease-in-out;
            }
          }
        }
      }
    }
  }
}

.project-boxes{
  position: relative;
  z-index: 1;
  background: transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.project-boxes::before{
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  background: $green;
  /* transition on the specific property, lots of browser prefixing */
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease,
  -webkit-transform 0.4s ease;
  /* transform scale */
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  /* transform origin */
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
}
.project-boxes:hover, .project-boxes.hover{
  color: $white;
}
.project-boxes:hover::before, .project-boxes.hover::before{
  /* transform scale */
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  /* transform origin */
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
.project-boxes:hover .show::after, .project-boxes.hover .show::after{
  opacity: 1!important;
}

.project-boxes.hover .text-fade-in, .project-boxes.hover .link-fade-in{
  opacity: 1!important;
}

//Fixed menu styling
.fixed-menu{
  position: fixed;
  right: -100%;
  width: 30%;
  height: 100vh;
  text-align: center;
  background: $white;
  z-index: 999;
  -webkit-transition: right 0.2s ease;
  -moz-transition: right 0.2s ease;
  -ms-transition: right 0.2s ease;
  -o-transition: right 0.2s ease;
  transition: right 0.2s ease;
  .opened-menu-container{
    position: relative;
    height: 100%;
    overflow-y: scroll;
    .menu-items{
      position: relative;
      width: 100%;
      bottom: 0;
      margin: 0;
      padding: 50px 40px 0 80px;
      a{
        left: 0;
        font-size: 40px;
        font-weight: bold;
        color: #222222;
        text-decoration: none;
        -webkit-transition: left 0.4s ease;
        -moz-transition: left 0.4s ease;
        -ms-transition: left 0.4s ease;
        -o-transition: left 0.4s ease;
        transition: left 0.4s ease;
        &:hover{
          left: 20px;
        }
      }
    }
    .language-container:last-child{
      width: 100%;
      height: auto;
      padding: 20px 40px 0 80px;
      .language-bars{
        font-size: 14px;
        font-weight: bold;
        color: #222222;
        text-decoration: none;
      }
    }
    .closer-container{
      margin-bottom: 0;
      height: 70px;
      padding: 10px 30px;
      .nav-link{
        -webkit-transition: transform 0.6s ease;
        -moz-transition: transform 0.6s ease;
        -ms-transition: transform 0.6s ease;
        -o-transition: transform 0.6s ease;
        transition: transform 0.6s ease;
      }
    }
  }
}

//Options container
.options-container{
  position: relative;
  height: 850px;
  .row{
    height: 100%;
    .first-option{
      height: 100%;
      padding: 125px 30px 125px 90px;
      border-bottom-width: 0;
      border-top-width: 0;
      border-left-width: 0;
      border-right-width: thin;
      border-style: solid;
      border-color: #ffffff29;
    }
    .standard-option{
      height: 100%;
      padding: 125px 100px 125px 0;
      border-bottom-width: 0;
      border-top-width: 0;
      border-left-width: 0;
      border-right-width: thin;
      border-style: solid;
      border-color: #ffffff29;
      &:last-child{
        .last-option{
          margin-bottom: 90px;
        }
      }
    }
  }
  .option-desc{
    line-height: 30px;
  }
  .option-title{
    position: relative;
    margin-bottom: 40px;
    &:before {
      content: '';
      background-repeat: no-repeat;
      width: 30px;
      height: 20px;
      position: absolute;
      left: -55px;
      top: 7px;
    }
  }
  .first-title{
    &:before {
      background-image: url('../uploads/1-small.png');
    }
  }
  .second-title{
    &:before {
      background-image: url('../uploads/2-small.png');
    }
  }
  .third-title{
    &:before {
      background-image: url('../uploads/3-small.png');
    }
  }
  .fourth-title{
    &:before {
      background-image: url('../uploads/4-small.png');
    }
  }
}

.btn-custom{
  font-family: 'formular';
  text-transform: uppercase;
  background-color: #ed4350;
  font-size: 14px;
  border: none;
  border-radius: 0;
  padding: 20px 40px;
  letter-spacing: 3px;
  a{
    text-decoration: none;
    color: $white;
  }
}

.black-container{
  background-color: $black;
}

//White navbar
.bg-transparent{
  .navbar-nav{
    .nav-link{
      color: $black;
      &:hover{
        color: $black;
      }
    }
  }
}

.services-container{
  padding-top: 0!important;
}

.main-container-secondary{
  position: relative;
  padding-top: 70px;
  height: 100vh;
  .row{
    position: relative;
    height: 100%;
    .services-content{
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      .service-title{
        font-size: 24px;
      }
      .service-desc{

      }
    }
  }
}

//Production page
.production-container{
  position: relative;
  height: 100vh;
  padding-top: 70px;
  .row{
    position: relative;
    height: 100%;
    .product-content{
      position: relative;
      height: 100%;
      .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      .watch-video{
        position: absolute;
        left: 50%;
        top: 90%;
        -webkit-transform: translate(-50%, -90%);
        -moz-transform: translate(-50%, -90%);
        -ms-transform: translate(-50%, -90%);
        -o-transform: translate(-50%, -90%);
        transform: translate(-50%, -90%);
        a{
          position: relative;
          color: $white;
          &:before{
            content: '';
            background-image: url('../uploads/play.png');
            background-repeat: no-repeat;
            background-position: left;
            position: absolute;
            top: 0;
            left: -35px;
            width: 16px;
            height: 100%;
          }
        }
      }
      h1{
        font-size: 60px;
        font-weight: bold;
      }
      p{
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        line-height: 30px;
        padding-right: 7rem;
      }
    }
    .production-first{
      background-image: url('../uploads/bg-production-2.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .production-second{
      background-image: url('../uploads/bg-production-1.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

//Video page
.video-js{
  width: 100%;
  height: 100vh;
  .vjs-fullscreen-control{
    display: none;
  }
}

//Map page
.map-container{
  .row{
    position: relative;
    height: 100vh;
    .map-content{
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 555;
      .marker-info-window{
        position: absolute;
        opacity: 1;
        font-family: $formular;
        font-weight: 100;
        width: 150px;
        height: auto;
        top: 5px;
        left: 60px;
        font-size: 14px;
        line-height: 20px;
        z-index: 99999;
        -webkit-transition: opacity 0.4s ease;
        -moz-transition: opacity 0.4s ease;
        -ms-transition: opacity 0.4s ease;
        -o-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease;
      }
      .gm-style-cc, .gmnoprint{
        display: none;
      }
    }
  }
}

.window-content{
  overflow: unset!important;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}

.opener-map{
  position: absolute;
  bottom: 60px;
  left: 30px;
  cursor: pointer;
  z-index: 777;
}

.opener{
  position: absolute;
  bottom: 60px;
  left: 50%;
  cursor: pointer;
  z-index: 777;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.maps-overflow{
  overflow: hidden;
}

.sizing-half{
  position: relative;
  width: 50%;
}

.sizing-full{
  position: relative;
  width: 100%;
}

.left-side{
  left: 0;
}

.right-side{
  right: 0;
}

.contact-container{
  position: absolute;
  height: 100%;
  -webkit-transition: width 0.4s ease, right 0.4s ease, left 0.4s ease;
  -moz-transition: width 0.4s ease, right 0.4s ease, left 0.4s ease;
  -ms-transition: width 0.4s ease, right 0.4s ease, left 0.4s ease;
  -o-transition: width 0.4s ease, right 0.4s ease, left 0.4s ease;
  transition: width 0.4s ease, right 0.4s ease, left 0.4s ease;
  .main-section{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 777;
    background-color: $contact-section;
    -webkit-transition: background-color 0.4s ease, opacity 0.1s ease;
    -moz-transition: background-color 0.4s ease, opacity 0.1s ease;
    -ms-transition: background-color 0.4s ease, opacity 0.1s ease;
    -o-transition: background-color 0.4s ease, opacity 0.1s ease;
    transition: background-color 0.4s ease, opacity 0.1s ease;
    &:hover{
      background-color: transparent;
    }
    .main-text{
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      h1{
        font-size: 50px;
      }
    }
  }
}

.main-section.hovered{
  background-color: transparent;
}

//Team page
.team-container{
  position: relative;
  height: 100vh;
  .row{
    position: relative;
    height: 100%;
    .first-member{
      border-style: solid;
      border-width: 1px;
      border-color: #cccccc;
      border-bottom: none;
      border-left: none;
      border-top: none
    }
    .team-members{
      position: relative;
      height: 100%;
      .row{
        position: relative;
        height: 100%;
        .member-image{
          height: 100%;
          border-style: solid;
          border-width: 1px;
          border-color: #cccccc;
          border-bottom: none;
          border-left: none;
          border-top: none;
          .main-image{
            top: 20%;
            img{
              width: 100%;
            }
          }
        }
        .main-email{
          color: $black;
          top: 95%;
          -webkit-transform: translateY(-95%);
          -moz-transform: translateY(-95%);
          -ms-transform: translateY(-95%);
          -o-transform: translateY(-95%);
          transform: translateY(-95%);
          &:after{
            content: '';
            background-image: url('../uploads/minus-black.png');
            background-repeat: no-repeat;
            background-position: left;
            position: absolute;
            left: -45px;
            width: 30px;
            height: 100%;
          }
        }
        .member-name{
          position: absolute;
          left: 95%;
          top: 65%;
          color: $black;
          -webkit-transform: translate(-95%, -65%);
          -moz-transform: translate(-95%, -65%);
          -ms-transform: translate(-95%, -65%);
          -o-transform: translate(-95%, -65%);
          transform: translate(-95%, -65%);
          h1{
            font-size: 60px;
          }
        }
      }
    }
  }
}
//Projects page
.projects-container{
  position: relative;
  height: 100vh;
  .carousel-container{
    position: relative;
    height: 100vh;
    padding-top: 70px;
    .row {
      position: relative;
      height: 100%;
      .projects-carousel{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .projects-carousel-filter {
        position: absolute;
        bottom: 5%;
        width: 100%;
        .filter-items {
          color: #7f7f7f;
          label{
            position: relative;
            margin-bottom: 0;
            font-size: 14px;
            padding-left: 40px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.mobile-showings{
  a{
    color: $black;
    img{
      width: 100%;
      height: 100%;
    }
  }
}

.input-group > .input-group-prepend > .btn{
  border: none;
}

.btn-outline-secondary{
  color: $black;
}

.btn-outline-secondary:hover {
  color: $black;
  background-color: $white;
  border-color: $white;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active{
  color: $black;
  background-color: $white;
  border-color: $white;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle{
  color: $black;
  background-color: $white;
  border-color: $white;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus{
  box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,.btn-outline-secondary:focus, .btn-outline-secondary.focus{
  box-shadow: none;
}

.dropdown-menu.show{
  top: 100%!important;
  left: 50%!important;
  transform: translate(-50%, 0)!important;
}

.btn{
  padding: 10px 30px;
}

.dropdown-toggle{
  &:after{
    display: none;
  }
  &:before{
    display: inline-block;
    background-image: url('../uploads/arrow-down.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
    content: "";
    position: absolute;
    right: 0;
    top: 18px;
  }
}

/* Hide the browser's default checkbox */
.filter-items input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: $white;
  border: thin solid #7f7f7f;
}

/* On mouse-over, add a grey background color */
label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
label input:checked ~ .checkmark {
  background-image: url('../uploads/check.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.item {
  opacity: 0.4;
  transition: 0.4s ease all;
  margin: 0 20px;
  transform: scale(0.8);
}

@media (max-width: 1000px) {
  .item {
    margin: 0;
    transform: scale(0.9);
  }
}

.active .item {
  opacity: 1;
  transform: scale(1);
}

.owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.inner{
  a{
    color: $black;
  }
}

.owl-controls{
  position:absolute;
  margin-top:300px;
}

//Footer part
.footer{
  padding: 15px 30px 0 30px;
  border-top: 1px solid #cccccc;
  .developed{
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    a.underline{
      color: #000000;
      font-weight: bold;
      &:after{
        height: 2px;
      }
    }
  }
  .navbar-nav{
    color: $black;
    .nav-item{
      .designed-by{
        font-family: coresansg;
        color: #000000;
        span:nth-child(1){
          font-size: 12px;
        }
        span:nth-child(2){
          font-size: 22px;
        }
      }
      p{
        margin-bottom: 0;
      }
      .copyright-text{
        font-size: 14px;
      }
      .copyright{
        span{
          font-size: 16px;
        }
        font-size: 11px;
      }
    }
  }
}

//Product page
.product-container{
  position: relative;
  height: 100%;
  padding-top: 70px;
  color: #000000;
  .product-desc{
    h1{
      font-size: 60px;
    }
    .product-list{
      li{
        display: block;
      }
    }
  }
  .product-text-field{
    margin-top: 150px;
  }
  .product-text-field-second{
    margin-bottom: 150px;
  }
  .carousel{
    height: 700px;
    margin-bottom: 100px;
    .carousel-inner{
      height: 100%;
      .carousel-item{
        height: 100%;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .carousel-control-prev, .carousel-control-next{
      background: #1f2127;
      height: 60px;
      position: absolute;
      bottom: 0;
      left: unset;
      top: unset;
      right: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      color: #fff;
      text-align: center;
      opacity: 1;
    }
    .carousel-control-next{
      .carousel-control-next-icon{
        background-image: url("../uploads/next.png");
        width: 13px;
        height: 23px;
      }
      right: 0;
    }
    .carousel-control-prev {
      .carousel-control-prev-icon {
        background-image: url("../uploads/prev.png");
        width: 13px;
        height: 23px;
      }
    }
  }
  .product-scroll{
    position: fixed;
    left: 10px;
    top: 50%;
    color: #000000;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }
}

.opened-fixed-menu{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 999;
  opacity: 0.2;
}

.partners-container{
  padding: 0 30px;
}

//Media queries
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .header-part{
    .main-projects-container{
      position: relative;
      height: 100%;
      top: unset;
      padding-top: 70px;
      .mobile-img{
        display: block;
      }
      .row{
        .project-boxes{
          border-style: none;
          .info-box{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            padding: 30px;
            .scroll{
              display: none!important;
            }
          }
          .info-number{
            .project-title{
              margin-right: 0;
            }
          }
          &:before{
            z-index: 0;
            margin: 0;
          }
        }
        .mobile-img{
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .fixed-menu{
    width: 100%;
    .opened-menu-container{
      .menu-items{
        padding: 50px 20px 0 20px;
      }
      .language-container:last-child{
        padding: 20px 30px 0 20px;
      }
    }
  }

  .options-container{
    height: auto;
    .option-title{
      margin-bottom: 30px;
      &:before{
        left: -50px;
      }
    }
    .row{
      .first-option{
        padding: 60px 30px 30px 80px;
      }
      .standard-option{
        padding: 30px 30px 30px 80px;
      }
    }
  }

  .partners-container{
    .btn-custom{
      padding: 20px 0;
      width: 100%;
    }
  }

  footer{
    .navbar-nav{
      margin-right: auto;
      margin-left: unset!important;
    }
  }

  //Services page
  .services-container{
    padding-top: 70px!important;
  }

  .main-container-secondary{
    .row{
      .services-content{
        position: relative;
        top: 0;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }
  }

  //Production page
  .production-container{
    .row{
      .product-content{
        height: 50%;
        .centered{
          position: absolute;
          top: unset;
          left: 0;
          bottom: 0;
          padding: 0 30px;
          -webkit-transform: unset;
          transform: unset;
        }
        h1{
          font-size: 40px;
        }
      }
    }
  }

  //Contact page
  .contact-container{
    position: relative;
    .main-section{
      background-color: transparent;
      .main-text{
        padding: 0 30px;
        h1{
          font-size: 40px;
        }
      }
    }
  }

  .opener{
    padding: 0 30px;
  }

  .maps-overflow{
    overflow: auto;
  }

  .sizing-half{
    width: 100%;
  }

  //Team page
  .team-container{
    padding-top: 70px;
    .row{
      .first-member{
        border-style: none;
      }
      .team-members{
        height: 50%;
        .row{
          .member-image{
            border-style: none;
            .main-image{
              top: 0;
            }
          }
          .member-name{
            position: absolute;
            left: unset;
            right: 0;
            top: 65%;
            color: #000000;
            -webkit-transform: translate(0%, -65%);
            -moz-transform: translate(0%, -65%);
            -ms-transform: translate(0%, -65%);
            -o-transform: translate(0%, -65%);
            transform: translate(0%, -65%);
            h1{
              font-size: 45px;
              line-height: 1;
            }
          }
        }
      }
    }
  }

  //Product page
  .product-container{
    .carousel {
      height: 300px;
      margin-bottom: 50px;
    }
    .product-content{
      padding: 0 30px;
    }
    .product-scroll{
      left: 0;
      top: 90%;
    }
    .product-text-field{
      margin-top: 50px;
    }
    .product-text-field-second{
      margin-bottom: 50px;
    }
  }

  //Projects page
  .projects-container{
    height: 100%;
    .carousel-container{
      height: 100%;
      margin-bottom: 30px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .header-part{
    .main-projects-container{
      position: relative;
      height: 100%;
      top: unset;
      padding-top: 70px;
      .mobile-img{
        display: block;
      }
      .row{
        .project-boxes{
          border-style: none;
          .info-box{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            padding: 30px;
            .scroll{
              display: none!important;
            }
          }
          .info-number{
            .project-title{
              margin-right: 0;
            }
          }
          &:before{
            z-index: 0;
            margin: 0;
          }
        }
        .mobile-img{
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .fixed-menu{
    width: 100%;
    .opened-menu-container{
      .menu-items{
        padding: 50px 20px 0 20px;
      }
      .language-container:last-child{
        padding: 20px 30px 0 20px;
      }
    }
  }

  .options-container{
    height: auto;
    .option-title{
      margin-bottom: 30px;
      &:before{
        left: -50px;
      }
    }
    .row{
      .first-option{
        padding: 60px 30px 30px 80px;
      }
      .standard-option{
        padding: 30px 30px 30px 80px;
      }
    }
  }

  .partners-container{
    .btn-custom{
      padding: 20px 0;
      width: 100%;
    }
  }

  //Services page
  .services-container{
    padding-top: 70px!important;
  }

  .main-container-secondary{
    .row{
      .services-content{
        position: relative;
        top: 0;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }
  }

  //Production page
  .production-container{
    .row{
      .product-content{
        height: 50%;
        .centered{
          position: absolute;
          top: unset;
          left: 0;
          bottom: 0;
          padding: 0 30px;
          -webkit-transform: unset;
          transform: unset;
        }
        h1{
        }
      }
    }
  }

  //Product page
  .product-container{
    .carousel {
      height: 300px;
      margin-bottom: 50px;
    }
    .product-text-field{
      margin-top: 50px;
    }
    .product-text-field-second{
      margin-bottom: 50px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .header-part{
    .main-projects-container{
      .row{
        .project-boxes{
          .info-number{
            .project-title{
              width: auto;
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .options-container{
    height: auto;
    .option-title{
      margin-bottom: 30px;
      &:before{
        left: -50px;
      }
    }
    .row{
      .first-option{
        padding: 60px 30px 30px 80px;
      }
      .standard-option{
        padding: 30px 30px 30px 80px;
      }
    }
  }

  .fixed-menu{
    width: 50%;
    .opened-menu-container{
      .menu-items{
        padding: 50px 40px 0 40px;
      }
      .language-container{
        &:last-child{
          padding: 20px 40px 0 40px;
        }
      }
    }
  }

  //Product page
  .product-container{
    .carousel {
      height: 450px;
      margin-bottom: 50px;
    }
    .product-scroll{
      left: 0;
      top: 90%;
    }
    .product-text-field{
      margin-top: 50px;
    }
    .product-text-field-second{
      margin-bottom: 50px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .options-container{
    .row{
      .first-option{
        padding: 60px 30px 125px 90px;
      }
      .standard-option{
        padding: 60px 100px 125px 0;
      }
    }
  }


  //Product page
  .product-container{
    .carousel {
      height: 500px;
      margin-bottom: 80px;
    }
    .product-scroll{
      left: 0;
      top: 90%;
    }
    .product-text-field{
      margin-top: 80px;
    }
    .product-text-field-second{
      margin-bottom: 80px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }